Package: me.pr0crustes.betterw
Name: betterW
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make Whatsapp better!
Maintainer: pr0crustes
Author: pr0crustes
Section: Tweaks
Depiction: https://pr0crustes.github.io/repo/depictions/?p=me.pr0crustes.betterw
