<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>label</key>
			<string>Settings</string>

			<key>footerText</key>
			<string>Disables only yours read receipt.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>No Read Receipt</string>

			<key>key</key>
			<string>pref_receipt</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Draws online indicators around profile pictures.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Who Is Online (BETA)</string>
			
			<key>key</key>
			<string>pref_online</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>The online indicator turns into a dot. Requires `Who Is Online` to be on.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Online As Dot</string>
			
			<key>key</key>
			<string>pref_as_dot</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Asks for a confirmation before making any voice or video call. You also have the option to call the person by phone.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Confirm Calls</string>
			
			<key>key</key>
			<string>pref_confirm_call</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Messages are not deleted from your phone, an indicator apears.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Don't Delete (BETA)</string>
			
			<key>key</key>
			<string>pref_no_delete</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Removes the time limit for message deletion.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>No Delete Limit</string>
			
			<key>key</key>
			<string>pref_no_delete_limit</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>You will never apear online, but will be unable to see when others are.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Never Online</string>
			
			<key>key</key>
			<string>pref_no_online</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Others will not be able to see when you are typing.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Never Typing</string>
			
			<key>key</key>
			<string>pref_no_typing</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>When seeing a status, it will stop the timer.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>No Status Timer</string>
			
			<key>key</key>
			<string>pref_no_status_timer</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Allows you to download status. Click on the three dots and select `save`.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Status Downloader</string>
			
			<key>key</key>
			<string>pref_status_downloader</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Will lie about compatibility, making the app work in unsupported devices.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Global Support</string>
			
			<key>key</key>
			<string>pref_global_support</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Adds audio transcription, just hold the play button of any audio to see the magic. This uses SFSpeechRecognizer and, as Apple states, should not be used for personal information, such as passwords and credit cards. Requires internet. Select the language to be used.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Audio To Text</string>
			
			<key>key</key>
			<string>pref_audio_to_text</string>
		</dict>

		<dict>
            <key>cell</key>
            <string>PSLinkListCell</string>

            <key>defaults</key>
            <string>me.pr0crustes.betterw_prefs</string>
			
            <key>detail</key>
            <string>PSListItemsController</string>

            <key>key</key>
            <string>pref_audio_to_text_locale</string>

            <key>label</key>
            <string>Language</string>

            <key>validTitles</key>
            <array>
				<string>en-US</string>
				<string>ar-SA</string>
				<string>ca-ES</string>
				<string>cs-CZ</string>
				<string>da-DK</string>
				<string>de-AT</string>
				<string>de-CH</string>
				<string>de-DE</string>
				<string>el-GR</string>
				<string>en-AE</string>
				<string>en-AU</string>
				<string>en-CA</string>
				<string>en-GB</string>
				<string>en-ID</string>
				<string>en-IE</string>
				<string>en-IN</string>
				<string>en-NZ</string>
				<string>en-PH</string>
				<string>en-SA</string>
				<string>en-SG</string>
				<string>en-ZA</string>
				<string>es-CL</string>
				<string>es-CO</string>
				<string>es-ES</string>
				<string>es-MX</string>
				<string>es-US</string>
				<string>fi-FI</string>
				<string>fr-BE</string>
				<string>fr-CA</string>
				<string>fr-CH</string>
				<string>fr-FR</string>
				<string>he-IL</string>
				<string>hi-IN</string>
				<string>hr-HR</string>
				<string>hu-HU</string>
				<string>id-ID</string>
				<string>it-CH</string>
				<string>it-IT</string>
				<string>ja-JP</string>
				<string>ko-KR</string>
				<string>ms-MY</string>
				<string>nb-NO</string>
				<string>nl-BE</string>
				<string>nl-NL</string>
				<string>pl-PL</string>
				<string>pt-BR</string>
				<string>pt-PT</string>
				<string>ro-RO</string>
				<string>ru-RU</string>
				<string>sk-SK</string>
				<string>sv-SE</string>
				<string>th-TH</string>
				<string>tr-TR</string>
				<string>uk-UA</string>
				<string>vi-VN</string>
				<string>wuu-CN</string>
				<string>yue-CN</string>
				<string>zh-CN</string>
				<string>zh-HK</string>
				<string>zh-TW</string>
            </array>

            <key>validValues</key>
            <array>
				<string>en-US</string>
				<string>ar-SA</string>
				<string>ca-ES</string>
				<string>cs-CZ</string>
				<string>da-DK</string>
				<string>de-AT</string>
				<string>de-CH</string>
				<string>de-DE</string>
				<string>el-GR</string>
				<string>en-AE</string>
				<string>en-AU</string>
				<string>en-CA</string>
				<string>en-GB</string>
				<string>en-ID</string>
				<string>en-IE</string>
				<string>en-IN</string>
				<string>en-NZ</string>
				<string>en-PH</string>
				<string>en-SA</string>
				<string>en-SG</string>
				<string>en-ZA</string>
				<string>es-CL</string>
				<string>es-CO</string>
				<string>es-ES</string>
				<string>es-MX</string>
				<string>es-US</string>
				<string>fi-FI</string>
				<string>fr-BE</string>
				<string>fr-CA</string>
				<string>fr-CH</string>
				<string>fr-FR</string>
				<string>he-IL</string>
				<string>hi-IN</string>
				<string>hr-HR</string>
				<string>hu-HU</string>
				<string>id-ID</string>
				<string>it-CH</string>
				<string>it-IT</string>
				<string>ja-JP</string>
				<string>ko-KR</string>
				<string>ms-MY</string>
				<string>nb-NO</string>
				<string>nl-BE</string>
				<string>nl-NL</string>
				<string>pl-PL</string>
				<string>pt-BR</string>
				<string>pt-PT</string>
				<string>ro-RO</string>
				<string>ru-RU</string>
				<string>sk-SK</string>
				<string>sv-SE</string>
				<string>th-TH</string>
				<string>tr-TR</string>
				<string>uk-UA</string>
				<string>vi-VN</string>
				<string>wuu-CN</string>
				<string>yue-CN</string>
				<string>zh-CN</string>
				<string>zh-HK</string>
				<string>zh-TW</string>
            </array>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Enables a true dark mode interface, OLED friendly.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Dark Mode (ALFA)</string>
			
			<key>key</key>
			<string>pref_dark_mode</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Respring is not necessary to apply the changes, unless when restarting the app is not appling the settings.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>

			<key>label</key>
			<string>Respring</string>

			<key>action</key>
			<string>respring:</string>
		</dict>		

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Others</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>

			<key>icon</key>
			<string>GitHub-Mark-32px.png</string>

			<key>label</key>
			<string>Source Code</string>

			<key>action</key>
			<string>onClickSourceCode:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>label</key>
			<string>Info:</string>

			<key>footerText</key>
			<string>Made by @pr0crustes and distributed by free at my only repo `pr0crustes.github.io/repo/`.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>BetterW includes code from `libopus`, `libogg` and `libopusfile`, all from `xiph.org`, respecting the licenses.</string>
		</dict>

	</array>
	<key>title</key>
	<string>BetterW</string>
</dict>
</plist>
