<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Asks for a confirmation before making any voice or video call. You also have the option to call the person by phone.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Confirm Calls</string>
			
			<key>key</key>
			<string>pref_confirm_call</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Enables a true dark mode interface, OLED friendly.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Dark Mode</string>
			
			<key>key</key>
			<string>pref_dark_mode</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Allows you to delete all messages sent by you in a chat after the selected one. To use it, select only one message sent by you and delete it for all users, A popup will ask if you want to delete all subsequents too. This feature requires No Delete Limit to be enabled.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Delete Subsequent</string>
			
			<key>key</key>
			<string>pref_delete_subsequent</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Messages are not deleted from your phone, an indicator apears.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Don't Delete</string>
			
			<key>key</key>
			<string>pref_no_delete</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Will lie about compatibility, making the app work in unsupported devices.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Global Support</string>
			
			<key>key</key>
			<string>pref_global_support</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>You will never apear online, but will not be able to see when others are online.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Never Online (BETA)</string>
			
			<key>key</key>
			<string>pref_no_online</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Others will not be able to see when you are typing.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Never Typing</string>
			
			<key>key</key>
			<string>pref_no_typing</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Removes the time limit for message deletion.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>No Delete Limit</string>
			
			<key>key</key>
			<string>pref_no_delete_limit</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Disables only yours read receipt.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>No Read Receipt</string>

			<key>key</key>
			<string>pref_receipt</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>When seeing a status, it will stop the timer.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>No Status Timer</string>
			
			<key>key</key>
			<string>pref_no_status_timer</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Allows you to download status. Click on the three dots and select `save`.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Status Downloader</string>
			
			<key>key</key>
			<string>pref_status_downloader</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Draws online indicators around profile pictures.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>Who Is Online</string>
			
			<key>key</key>
			<string>pref_online</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>The online indicator turns into a dot. Requires `Who Is Online` to be on.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>default</key>
			<false/>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>label</key>
			<string>... Online As Dot</string>
			
			<key>key</key>
			<string>pref_as_dot</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>The color for when the contact is online. Default is Green.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>

			<key>default</key>
			<string>Green</string>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>key</key>
			<string>pref_woi_color_online</string>

			<key>label</key>
			<string>... Online Color</string>

			<key>detail</key>
			<string>PSListItemsController</string>

			<key>validValues</key>
			<array>
				<string>Black</string>
				<string>Blue</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>DarkGray</string>
				<string>Gray</string>
				<string>Green</string>
				<string>LightGray</string>
				<string>Magenta</string>
				<string>Orange</string>
				<string>Purple</string>
				<string>Red</string>
				<string>White</string>
				<string>Yellow</string>
			</array>

			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>Blue</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>DarkGray</string>
				<string>Gray</string>
				<string>Green</string>
				<string>LightGray</string>
				<string>Magenta</string>
				<string>Orange</string>
				<string>Purple</string>
				<string>Red</string>
				<string>White</string>
				<string>Yellow</string>
			</array>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>The color for when the contact is offline. Default is Red.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>

			<key>default</key>
			<string>Red</string>

			<key>defaults</key>
			<string>me.pr0crustes.betterw_prefs</string>

			<key>key</key>
			<string>pref_woi_color_offline</string>

			<key>label</key>
			<string>... Offline Color</string>

			<key>detail</key>
			<string>PSListItemsController</string>

			<key>validValues</key>
			<array>
				<string>Black</string>
				<string>Blue</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>DarkGray</string>
				<string>Gray</string>
				<string>Green</string>
				<string>LightGray</string>
				<string>Magenta</string>
				<string>Orange</string>
				<string>Purple</string>
				<string>Red</string>
				<string>White</string>
				<string>Yellow</string>
			</array>

			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>Blue</string>
				<string>Brown</string>
				<string>Cyan</string>
				<string>DarkGray</string>
				<string>Gray</string>
				<string>Green</string>
				<string>LightGray</string>
				<string>Magenta</string>
				<string>Orange</string>
				<string>Purple</string>
				<string>Red</string>
				<string>White</string>
				<string>Yellow</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>Respring is not necessary to apply the changes, unless when restarting the app is not appling the settings.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>

			<key>label</key>
			<string>Respring</string>

			<key>action</key>
			<string>respring:</string>
		</dict>		

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Others</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>

			<key>icon</key>
			<string>GitHub-Mark-32px.png</string>

			<key>label</key>
			<string>Source Code</string>

			<key>action</key>
			<string>onClickSourceCode:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>label</key>
			<string>Info:</string>

			<key>footerText</key>
			<string>Made by @pr0crustes and distributed for free at my official repo `pr0crustes.github.io/repo/`.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>

			<key>footerText</key>
			<string>You can support my work by donating any amount of bitcoin to the address "1CvcFZAMpzWzhPQzQ6vZdejSwTNuwWrPy5" (without quotes).</string>
		</dict>

	</array>
	<key>title</key>
	<string>BetterW</string>
</dict>
</plist>
